<footer class="footer bg-primary text-white">

  <div class="mb-3 mb-md-5">
    <a href="/">
      <svg class="logo">
        <use xlink:href="#svg-segfault-logo-white" />
      </svg>
    </a>
  </div>

  <div class="row justify-content-between pl-xl-80 el-animated">
    <!-- <div class="col-xl-6">
      <div class="list__item list__item--secondary font-24">
        dołącz do społeczności ponad 1000 doświadczonych deweloperów i zapisz się na newsletter
      </div>
      <form>
        <div class="d-flex flex-column flex-sm-row align-items-sm-center ml-sm-100">
          <input type="text" name="newsletter" placeholder="twój email" class="input text-white mr-sm-3 mb-3 mb-sm-0">
          <button type="submit" class="button button--accent">zapisz się</button>
        </div>
      </form>
    </div> -->

    <div class="col-xl-5 pl-xl-5 mt-5 mt-xl-0">
      <div class="row">

        {{/*
        <div class="col-sm-6 el-animated">
          <h2 class="font-24 text-secondary">info</h2>
          <ul class="list-unstyled mb-3">
            <li class="mb-1"><a class="text-white link" href="#o-nas">o nas</a></li>
            <li class="mb-1"><a class="text-white link" href="/lodz2018">Segfault Łódź'2018</a></li>
            <li class="mb-1"><a class="text-white link" href="/gdansk2019">Segfault University Gdańsk'2019</a></li>
            <li class="mb-1"><a class="text-white link" href="/krakow2019">Segfault Unconference Kraków'2019</a></li>
            <!-- <li class="mb-1"><a class="text-white link" href="#">FAQ</a></li> -->
            <!-- <li class="mb-1"><a class="text-white link" href="#">code of conduct</a></li> -->
            <!-- <li class="mb-1"><a class="text-white link" href="#">regulamin wydarzeń</a></li> -->
            <!-- <li class="mb-1"><a class="text-white link" href="#">polityka prywatności</a></li> -->
            <!-- <li class="mb-1"><a class="text-white link" href="#">cookies</a></li> -->
          </ul>
        </div>
        */}}
        <div class="col-sm-6 el-animated">
          <h2 class="font-24 text-secondary">media</h2>
          <ul class="list-unstyled mb-3">
            <!-- <li><a class="text-white" href="#">press kit & info</a></li> -->
            <li><a class="text-white" href="mailto:media@segfault.events">media@segfault.events</a></li>
            <li><a class="text-white" href="tel:+48605917532">+48 605 917 532</a></li>
          </ul>
          <h2 class="font-24 text-secondary">kontakt</h2>
          <ul class="list-unstyled mb-3">
            <li><a class="text-white" href="mailto:konferencja@segfault.events">konferencja@segfault.events</a></li>
            <li><a class="text-white" href="tel:+48553600164">+48 553 600 164</a></li>
            <!-- <li><a class="text-white" href="mailto:rejestracja@segfault.events">rejestracja@segfault.events</a></li> -->
            <!-- <li><a class="text-white" href="mailto:partnerzy@segfault.events">partnerzy@segfault.events</a></li> -->
          </ul>
        </div>

        <div class="col-sm-6 el-animated">
          <h2 class="font-24 text-secondary">archiwum</h2>
          <ul class="list-unstyled mb-3">
            {{ range (sort .archive "dateSortable") }}            
              <li><a class="text-white" href="{{ .link }}">{{ .city }}, {{ .dateReadable -}}</a></li>
            {{ end }}
          </ul>
        </div>

      </div>
    </div>

  </div>
  <div class="footer__socials el-animated">
    <a class="text-white font-24 pr-1" href="https://facebook.com/segfaultevents" target="_blank" rel="nofollow noopener"><span class="icon-facebook"></span></a>
    <a class="text-white font-24 pr-1" href="https://instagram.com/segfaultevents" target="_blank" rel="nofollow noopener"><span class="icon-instagram"></span></a>
    <a class="text-white font-24 pr-1" href="https://twitter.com/segfaultevents" target="_blank" rel="nofollow noopener"><span class="icon-twitter"></span></a>
    <a class="text-white font-24 pr-1" href="https://youtube.com/channel/UCV38Do_3C5uVk3lWePkyxTA" target="_blank" rel="nofollow noopener"><span class="icon-youtube"></span></a>
  </div>
  <p class="text-secondary mt-5 el-animated">© 2020 segfault events</p>

</footer>