{{ $this := . }}
{{ range $key, $session := index .Site.Data.sessions .Section }}
    {{ range $speaker := $session.speakers }}

    <!-- this generates session pages --> 
    {{ $filePath := printf "%ssessions/%s_%s.html" $.CurrentSection.RelPermalink ((index $session.speakers 0).name | replaceRE "[ęóąśłżźćń]" "" | urlize) ($session.title | replaceRE "[ęóąśłżźćń]" "" | urlize) }}
    {{ $this.Scratch.Set "session" $session }}
    {{ $speaker_page := resources.Get "session.tpl.html" | resources.ExecuteAsTemplate $filePath $this }}   

    <div class="col-12 col-sm-6 col-lg-5 pt-5 d-flex align-items-start el-animated">
        <div>
            <a href="{{ $speaker_page.RelPermalink }}">
            <div class="avatar avatar--secondary avatar--large">
                <!-- must be a square -->
                <img class="avatar__photo" src="{{ $.CurrentSection.RelPermalink }}sessions/images/{{ $speaker.photo }}" alt="">
            </div>
            </a>
        </div>
        <div class="pl-3">
            <h3 class="font-22 font-bold size-animation"><a href="{{ $speaker_page.RelPermalink }}">{{ $speaker.name }}</a></h3>
            <ul class="list">
            <li class="list__item list__item--small text-secondary">
                <a class="size-animation" href="{{ $speaker_page.RelPermalink }}">{{ $session.title }}</a>
            </li>
            </ul>
        </div>
    </div> 
    {{ end }}       
{{ end }}
